-# frozen_string_literal: true
= simple_form_for [:loggedin, @question_board] do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title

  %p 質問
  .form-inputs
    = f.simple_fields_for :questions do |question|
      = render 'question_fields', f: question
    .link
      = link_to_add_association '質問を追加する', f, :questions
  %br

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
