%h1 質問ボード一覧

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th タイトル
      %th{ style: 'width: 100px' }
      %th{ style: 'width: 50px' }
      %th{ style: 'width: 50px' }

  %tbody
    - @question_boards.each do |question_board|
      %tr
        %td{ style: 'vertical-align: middle' }= link_to question_board.title, loggedin_question_board_path(question_board)
        %td= link_to '回答してもらう', new_loggedin_question_board_answer_boards_path(question_board), class: 'btn btn-warning'
        %td= link_to '編集', edit_loggedin_question_board_path(question_board), class: 'btn btn-success'
        %td= link_to '削除', loggedin_question_board_path(question_board), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

= link_to '質問ボードを作成する', new_loggedin_question_board_path, class: 'btn btn-primary'
