%p
  %b メールアドレス:
  = @answer_board.email
%p
  %b 名前:
  = @answer_board.name
%p
  %b 回答:
  %ul
    - @answer_board.answers.each do |answer|
      %li
        %b= answer.question.content
        %p= answer.content

= link_to '再編集', edit_answer_board_path(@answer_board.token)
